@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/gilroy/Gilroy-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/gilroy/Gilroy-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(../fonts/gilroy/Gilroy-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url(../fonts/gilroy/Gilroy-Semibold.woff2) format("woff2");
}
