.btn {
  width: 120px;
  height: 40px;
  background-color: #f25822;
  border-radius: 30px;
  border: none;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}

.btn-disabled {
  background: rgba(242, 88, 34, 0.25);
  color: #f25822;
  transition: 0.2s;
}
