<section class="benefits">
  <div class="container">
    <h2 class="title">Why You Should Choose Us.</h2>
    <p class="text">
      Distinctively exploit optimal alignments for intuitive bandwidth. Quickly
      coordinate e-business <br />
      applicat ions through revolutionary catalysts.
    </p>
    <div class="benefits__items">
      <div class="benefits-item">
        <img
          class="benefits-item__img"
          src="img/benefits/illustrarion1.png"
          alt=""
        />
        <h3 class="benefits-item__title">Keyword Research</h3>
        <p class="benefits-item__text">
          Business applications through revolutionary catalysts for chang the
          Seamlessly underwhelm dures.
        </p>
        <button class="btn">Learn more ></button>
      </div>
      <div class="benefits-item">
        <img
          class="benefits-item__img"
          src="img/benefits/illustration2.png"
          alt=""
        />
        <h3 class="benefits-item__title">Seo Optimazadion</h3>
        <p class="benefits-item__text">
          Business applications through revolutionary catalysts for chang the
          Seamlessly underwhelm dures.
        </p>
        <button class="btn">Learn more ></button>
      </div>
      <div class="benefits-item">
        <img
          class="benefits-item__img"
          src="img/benefits/illustration3.png"
          alt=""
        />
        <h3 class="benefits-item__title">Social Marketing</h3>
        <p class="benefits-item__text">
          Business applications through revolutionary catalysts for chang the
          Seamlessly underwhelm dures.
        </p>
        <button class="btn">Learn more ></button>
      </div>
    </div>
  </div>
</section>
