<section class="blog">
  <h2 class="title">Our Latest News</h2>
  <p class="text">
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia Curae Suspendisse ante arcu, consectetur id nisl eget.
  </p>
  <div class="blog__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="blog__item">
          <img src="img/blog/blog-img.png" alt="" />
          <div class="blog__item-content">
            <h3 class="blog__item-title">
              How to become a new digital marketing idea?
            </h3>
            <p class="blog__item-text">
              On the other hand, we denounce with righteous indignation and
              dislike men who are so beguiled and demoralized by the charms of
              pleasure.
            </p>
            <a href="" class="blog__item-link">Read more...</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="blog__item">
          <img src="img/blog/blog-img.png" alt="" />
          <div class="blog__item-content">
            <h3 class="blog__item-title">
              How to become a new digital marketing idea?
            </h3>
            <p class="blog__item-text">
              On the other hand, we denounce with righteous indignation and
              dislike men who are so beguiled and demoralized by the charms of
              pleasure.
            </p>
            <a href="" class="blog__item-link">Read more...</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="blog__item">
          <img src="img/blog/blog-img.png" alt="" />
          <div class="blog__item-content">
            <h3 class="blog__item-title">
              How to become a new digital marketing idea?
            </h3>
            <p class="blog__item-text">
              On the other hand, we denounce with righteous indignation and
              dislike men who are so beguiled and demoralized by the charms of
              pleasure.
            </p>
            <a href="" class="blog__item-link">Read more...</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="blog__item">
          <img src="img/blog/blog-img.png" alt="" />
          <div class="blog__item-content">
            <h3 class="blog__item-title">
              How to become a new digital marketing idea?
            </h3>
            <p class="blog__item-text">
              On the other hand, we denounce with righteous indignation and
              dislike men who are so beguiled and demoralized by the charms of
              pleasure.
            </p>
            <a href="" class="blog__item-link">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
