<div class="facts">
  <div class="container">
    <div class="facts__items">
      <div class="facts__item">
        <span class="facts__item-count">95</span>
        <p class="facts__item-text">Happy Clients</p>
      </div>

      <div class="facts__item">
        <span class="facts__item-count">115</span>
        <p class="facts__item-text">Project Done</p>
      </div>

      <div class="facts__item">
        <span class="facts__item-count">8+</span>
        <p class="facts__item-text">Years Of Experince</p>
      </div>

      <div class="facts__item">
        <span class="facts__item-count">12</span>
        <p class="facts__item-text">National Awards</p>
      </div>
    </div>
  </div>
</div>
