<footer class="footer">
  <div class="container">
    <div class="footer__items">
      <div class="footer__item">
        <a href=""> <img src="img/Header/Logo.png" alt="" /></a>
        <p class="footer__text">
          Distinctively exploit optimal alignments for intuitive bandwidth.
          Quickly coordinate business through revolutionary.
        </p>
        <ul class="socials socials-footer">
          <li>
            <a class="socials__link socials__link-footer" href=""
              ><span class="icon-facebook"></span
            ></a>
          </li>
          <li>
            <a class="socials__link  socials__link-footer" href=""
              ><span class="icon-twitter"></span
            ></a>
          </li>
          <li>
            <a class="socials__link  socials__link-footer" href=""
              ><span class="icon-linkedin"></span
            ></a>
          </li>
          <li>
            <a class="socials__link  socials__link-footer" href=""
              ><span class="icon-google"></span
            ></a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="footer__item-title">Our Company</h3>
        <ul class="footer__item-list">
          <a href=""><li>About Us</li></a>
          <a href=""><li>Our Services</li></a>
          <a href=""><li>Our Plan</li></a>
          <a href=""><li>Our Team</li></a>
          <a href=""><li>Latest News</li></a>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="footer__item-title">Our Services</h3>
        <ul class="footer__item-list">
          <a href=""><li>Digital Marketing</li></a>
          <a href=""><li>SEO Optimazation</li></a>
          <a href=""><li>Web Development</li></a>
          <a href=""><li>Link Building</li></a>
          <a href=""><li>Terms & Privacy</li></a>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="footer__item-title">Contact Us</h3>
        <ul class="footer__item-list">
          <li><span>Location:</span> 1370 Orvilly Rot APT, New York, USA</li>
          <li><span>Email:</span> growbeinfo@gmail</li>
          <li><span>Phone: </span>+324-9332-5018</li>
        </ul>
      </div>
    </div>
    <p class="copyright">Copyright © GrowBe 2021. All Rights Reserved.</p>
  </div>
</footer>
