<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href=""> <img src="img/Header/Logo.png" alt="" /></a>
      <div class="menu__wrapper">
        <nav class="menu">
          <ul class="menu-list">
            <li class="menu-list__item">
              <a href="" class="menu-list__link">Home</a>
            </li>
            <li class="menu-list__item">
              <a href="" class="menu-list__link">About Us</a>
            </li>
            <li class="menu-list__item">
              <a href="" class="menu-list__link">Services</a>
            </li>
            <li class="menu-list__item has-submenu">
              <a href="" class="menu-list__link">Features</a>
              <ul class="submenu">
                <li class="submenu__item">
                  <a href="" class="submenu__link">Services</a>
                </li>
                <li class="submenu__item">
                  <a href="" class="submenu__link">Team</a>
                </li>
                <li class="submenu__item">
                  <a href="" class="submenu__link">Home</a>
                </li>
              </ul>
            </li>
            <li class="menu-list__item">
              <a href="" class="menu-list__link">Team</a>
            </li>
            <li class="menu-list__item">
              <a href="" class="menu-list__link">Blog</a>
            </li>
            <li class="menu-list__item">
              <a href="" class="menu-list__link">Contact</a>
            </li>
          </ul>
        </nav>
        <button class="btn">Get Started</button>
        
      </div>
    </div>
  </div>
</header>
