<section class="mail">
  <div class="container">
    <div class="mail__wrapper">
      <h2 class="title">Check Your Website Speed</h2>
      <p class="text">
        Distinctively exploit optimal alignments for intuitive bandwidth.
        <br />
        Quickly coordinate e-business through revolutionary.
      </p>
      <form class="mail__form" action="">
        <input placeholder="Web Url" type="url" name="url" required />
        <input placeholder="Email Address" type="email" name="email" required />
        <button class="btn">Submit</button>
      </form>
    </div>
    <img class="mail__img" src="img/mail/mail.png" alt="" />
  </div>
</section>
