<section class="plans">
  <div class="container">
    <h2 class="title">Our Plans</h2>
    <p class="text">Choose the right SEO for you</p>
    <div class="plans__items">
      <div class="plans__item">
        <div class="plans__item-wrapper">
          <h3 class="plans__item-title">Plus</h3>
          <span class="plans__item-price">
            <sup>$</sup>
            30
            <sub>/mounth</sub>
          </span>
          <ul>
            <li>50GB Bandwidth</li>
            <li>Business & Financ Analysing</li>
            <li>24 Hour Support</li>
            <li>Customer Managemet</li>
          </ul>
          <button class="btn btn-disabled">Get Started</button>
        </div>
      </div>
      <div class="plans__item">
        <div class="plans__item-wrapper">
          <h3 class="plans__item-title">Beginer</h3>
          <span class="plans__item-price">
            <sup>$</sup>
            55
            <sub>/mounth</sub>
          </span>

          <ul>
            <li>50GB Bandwidth</li>
            <li>Business & Financ Analysing</li>
            <li>24 Hour Support</li>
            <li>Customer Managemet</li>
          </ul>
          <button class="btn btn-disabled">Get Started</button>
        </div>
      </div>
      <div class="plans__item">
        <div class="plans__item-wrapper">
          <h3 class="plans__item-title">Advanced</h3>
          <span class="plans__item-price">
            <sup>$</sup>
            129
            <sub>/mounth</sub>
          </span>
          <ul>
            <li>50GB Bandwidth</li>
            <li>Business & Financ Analysing</li>
            <li>24 Hour Support</li>
            <li>Customer Managemet</li>
          </ul>
          <button class="btn btn-disabled">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</section>
