<section class="promo">
    <div class="container">
      <div class="promo__wrapper">
        <h1 class="promo__title">
          SEO & Digital Marketing For Your Website.
        </h1>
        <p class="promo__text">
          Provide all kind of seo services and help to improve seo ranking.
          Globally incubate standards.
        </p>
        <button class="btn">Start Now</button>
      </div>
      <img
        width="945"
        height="577"
        class="promo__img"
        src="img/promo/Image.png"
        alt=""
      />
    </div>
  </section>