<section class="questions">
  <div class="container">
    <img class="questions__img" src="../img/questions/compas.png" alt="" />
    <div class="questions__wrapper">
      <div class="questions__content">
        <h2 class="questions__title">
          You may ask what SEO & why do you need it?
        </h2>
        <p class="questions__subtitle">
          Distinctively exploit optimal alignments for intuitive bandwidth.
          Quickly coordinate e-business applications through revolutionary.
        </p>
        <div class="questions-items">
          <div class="questions-item">
            <div class="questions-item__circle">
              <img
                class="questions-item__img"
                src="../img/questions/palnet.svg"
                alt=""
              />
            </div>
            <div class="questions-item__wrapper">
              <h3 class="questions-item__title">Social Media Marketing</h3>
              <p class="questions-item__text">
                Business applications through revolutionary catalysts for chang
                the Seamlessly underwhelm dures.
              </p>
            </div>
          </div>
          <div class="questions-item">
            <div class="questions-item__circle">
              <img
                class="questions-item__img"
                src="../img/questions/email.svg"
                alt=""
              />
            </div>
            <div class="questions-item__wrapper">
              <h3 class="questions-item__title">Email Marketing</h3>
              <p class="questions-item__text">
                Business applications through revolutionary catalysts for chang
                the Seamlessly underwhelm dures.
              </p>
            </div>
          </div>

          <div class="questions-item">
            <div class="questions-item__circle">
              <img
                class="questions-item__img"
                src="../img/questions/pie-chart.svg"
                alt=""
              />
            </div>
            <div class="questions-item__wrapper">
              <h3 class="questions-item__title">SEO Optimization</h3>
              <p class="questions-item__text">
                Business applications through revolutionary catalysts for chang
                the Seamlessly underwhelm dures.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

