<section class="reviews">
  <h2 class="title">Our Clients Say</h2>
  <p class="text">
    Our in - house search engine experts deliver profitable Google, Bing, Yahoo
    Ranking.
  </p>
  <div class="reviews__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="reviews__item">
          <p class="reviews__item-text">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint cupiditate non provident.
          </p>
          <img class="reviews__item-img" src="img/reviews/man.png" alt="" />
          <span class="reviews__item-name">Rabith Halson</span>
          <span class="reviews__item-post">Web Design</span>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reviews__item">
          <p class="reviews__item-text">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint cupiditate non provident.
          </p>
          <img class="reviews__item-img" src="img/reviews/woman.png" alt="" />
          <span class="reviews__item-name">Selena Roy</span>
          <span class="reviews__item-post">UI Designer</span>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reviews__item">
          <p class="reviews__item-text">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint cupiditate non provident.
          </p>
          <img class="reviews__item-img" src="img/reviews/woman.png" alt="" />
          <span class="reviews__item-name">Selena Roy</span>
          <span class="reviews__item-post">UI Designer</span>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reviews__item">
          <p class="reviews__item-text">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint cupiditate non provident.
          </p>
          <img class="reviews__item-img" src="img/reviews/woman.png" alt="" />
          <span class="reviews__item-name">Selena Roy</span>
          <span class="reviews__item-post">UI Designer</span>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
