<section class="team">
  <div class="container">
    <h2 class="title">Our Expert Team Members</h2>
    <p class="text">
      This new-found knowledge may then be used by engineers to <br />
      create new tools and machines.
    </p>
    <div class="team__items">
      <div class="team__item">
        <img class="team__item-img" src="../img/team/face1.png" alt="" />
        <span class="team__item-name">Nattasha</span>
        <span class="team__item-post">Web Develper</span>
        <ul class="socials">
          <li>
            <a class="socials__link" href=""
              ><span class="icon-facebook"></span
            ></a>
          </li>
          <li>
            <a class="socials__link" href=""
              ><span class="icon-twitter"></span
            ></a>
          </li>
          <li>
            <a class="socials__link" href=""
              ><span class="icon-linkedin"></span
            ></a>
          </li>
          <li>
            <a class="socials__link" href=""
              ><span class="icon-google"></span
            ></a>
          </li>
        </ul>
      </div>
      <div class="team__item">
        <img class="team__item-img" src="../img/team/face2.png" alt="" />
        <span class="team__item-name">John Doe</span>
        <span class="team__item-post">Web Develper</span>
        <ul class="socials">
          <li>
            <a class="socials__link" href=""
              ><span class="icon-facebook"></span
            ></a>
          </li>
          <li>
            <a class="socials__link" href=""
              ><span class="icon-twitter"></span
            ></a>
          </li>
          <li>
            <a class="socials__link" href=""
              ><span class="icon-linkedin"></span
            ></a>
          </li>
          <li>
            <a class="socials__link" href=""
              ><span class="icon-google"></span
            ></a>
          </li>
        </ul>
      </div>
      <div class="team__item">
        <img class="team__item-img" src="../img/team/face3.png" alt="" />
        <span class="team__item-name">Haris Milas</span>
        <span class="team__item-post">Ceo & Co-Funder</span>
        <ul class="socials">
          <li>
            <a class="socials__link" href=""
              ><span class="icon-facebook"></span
            ></a>
          </li>
          <li>
            <a class="socials__link" href=""
              ><span class="icon-twitter"></span
            ></a>
          </li>
          <li>
            <a class="socials__link" href=""
              ><span class="icon-linkedin"></span
            ></a>
          </li>
          <li>
            <a class="socials__link" href=""
              ><span class="icon-google"></span
            ></a>
          </li>
        </ul>
      </div>
      <div class="team__item">
        <img class="team__item-img" src="../img/team/face4.png" alt="" />
        <span class="team__item-name">Nelson Mecoy</span>
        <span class="team__item-post">Marketing Manager</span>
        <ul class="socials">
          <li>
            <a class="socials__link" href=""
              ><span class="icon-facebook"></span
            ></a>
          </li>
          <li>
            <a class="socials__link" href=""
              ><span class="icon-twitter"></span
            ></a>
          </li>
          <li>
            <a class="socials__link" href=""
              ><span class="icon-linkedin"></span
            ></a>
          </li>
          <li>
            <a class="socials__link" href=""
              ><span class="icon-google"></span
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
